body {
  background-image: url('MaterialeEsercizioLim/background.jpg');
  background-size: 1920px 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Rubik', sans-serif;
}

.Contenitore {
  margin: auto;
  width: 65%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 100px;
  box-sizing: border-box;
}

header, nav {
  text-align: center;
}

header{
  color: rgba(61, 245, 0, 1);
}

.Logo {
  height: 100px;
}

nav{
  background-color: rgba(61, 245, 0, 1);
  padding: 10px;
}

.scooter{
  display: inline-block;
  font-size: 25px;
}

.position:before{
  content: '\21A6  ';
}

main, section{
  color: rgba(255, 255, 255, 1);
  margin-top: 30px;
}

.carica {
  height: 30px;
  border-radius: 5px;
}

p {
  margin: 5px 0px;
}

#first {
  width: 36%;
  background-color: rgba(255, 165, 0, 1);
}

#second {
  width: 59%;
  background-color: rgba(61, 245, 0, 1);
}

#third {
  width: 17%;
  background-color: rgba(255, 0, 0, 1);
}
